<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>张三</key>
	<array>
		<dict>
			<key>msg</key>
			<string>兄弟在不在</string>
			<key>ismine</key>
			<false/>
		</dict>
		<dict>
			<key>msg</key>
			<string>不在</string>
			<key>ismine</key>
			<true/>
		</dict>
		<dict>
			<key>msg</key>
			<string>快快帮个忙</string>
			<key>ismine</key>
			<false/>
		</dict>
		<dict>
			<key>msg</key>
			<string>帮我点个赞</string>
			<key>ismine</key>
			<false/>
		</dict>
		<dict>
			<key>msg</key>
			<string>好吧</string>
			<key>ismine</key>
			<true/>
		</dict>
	</array>
	<key>小红</key>
	<array>
		<dict>
			<key>msg</key>
			<string>在，说个事</string>
			<key>ismine</key>
			<false/>
		</dict>
		<dict>
			<key>msg</key>
			<string>什么事啊？</string>
			<key>ismine</key>
			<true/>
		</dict>
		<dict>
			<key>msg</key>
			<string>我们在一起也这么久了，我也试着让我喜欢上你，可是我无论怎么强迫自己都无法，对你有所感觉</string>
			<key>ismine</key>
			<false/>
		</dict>
		<dict>
			<key>msg</key>
			<string>所以很对不起你，我们分手吧</string>
			<key>ismine</key>
			<false/>
		</dict>
	</array>
	<key>小明</key>
	<array>
		<dict>
			<key>msg</key>
			<string>兄弟，帮我写一个文档吧</string>
			<key>ismine</key>
			<false/>
		</dict>
		<dict>
			<key>msg</key>
			<string>求求你了，明天老师就要</string>
			<key>ismine</key>
			<false/>
		</dict>
		<dict>
			<key>msg</key>
			<string>好吧</string>
			<key>ismine</key>
			<true/>
		</dict>
	</array>
	<key>爱丽丝</key>
	<array>
		<dict>
			<key>msg</key>
			<string>小哥哥，在不在啊？</string>
			<key>ismine</key>
			<false/>
		</dict>
	</array>
	<key>小强</key>
	<array>
		<dict>
			<key>msg</key>
			<string>强哥</string>
			<key>ismine</key>
			<true/>
		</dict>
		<dict>
			<key>msg</key>
			<string>在不在啊？</string>
			<key>ismine</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
